table.solidBtn {
  background-color: "#189bb0";
  border: "2px solid #189bb0";
  width: "135px";
  height: "50px";
}

td.solidBtn {
  font-family: "Arial, sans-serif";
  font-size: "13px";
  color: "#fff";
}

a.solidBtn {
  color: "#fff";
  text-decoration: "none";
  display: "block";
  line-height: "48px";
  font-weight: "bold";
}

table.outlineBtn {
  border: "2px solid #189bb0";
}

td.outlineBtn {
  font-family: "Arial, sans-serif";
  font-size: "13px";
  color: "#189bb0";
}

a.outlineBtn {
  color: "#189bb0";
  text-decoration: "none";
  display: "block";
  line-height: "48px";
  font-weight: "bold";
}
