.ReactModalPortal {

  .modal-close {
    font-size: 22px;
    cursor: pointer;
  }

  .ReactModal__Content {
    max-width: 800px;
    width: 100%;
    top: 50% !important;
    left: 50% !important;
    right: auto !important;
    bottom: auto !important;
    marginright: -50%;
    transform: translate(-50%, -50%) !important;
    border: none;
  }
}

.ReactModal__Overlay {
  background: rgba(0, 0, 0, 0.6) !important;
}