//import all arccorp vars
@use "~arccorp-vars/src/scss/main";

.arc-advanced-analytics-page{
  width: 100%;
}

.arc-advanced-analytics-jumbo-container {
  background-color: main.$black;
  background-image: url("https://www2.arccorp.com/globalassets/homepage/redesign/chip-background.png");
  background-repeat: no-repeat;
  background-position: center;
}

.arc-advanced-h1 {
  font-family: main.$arc-font-bold;
  font-size: 66px;
  color: main.$white;
}
