//import all arccorp vars
@use "~arccorp-vars/dist/scss/main.scss";
@use "modal";

#app {
  color: #414042;
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex: 0 0 100%;

  .loading {
    color: #dddddd;
    vertical-align: middle;
    width: 100%;
    div {
      text-align: left !important;
    }
    .loading-icon {
      text-align: center !important;
      color: #dddddd;
      display: block;
      font-size: 70px;
      margin: 0 auto;
    }
  }
}

.arc-email-page {
  width: 100%;
}

.arc-email-sidebar-container {
  padding: 30px 0;
}

.arc-email-sortable-item-container {
  font-family: main.$arc-font-semibold;
  position: relative;
  padding: 0 30px;
}

.arc-email-sidebar-download-container {
  color: main.$white;
  padding: 0px 30px 15px;;
  h2 {
    color: main.$white;
    font-family: main.$arc-font-bold;
  }
}

.arc-email-template-add {
  width: 24px;
  height: 24px;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  z-index: 999;
  cursor: pointer;
  display: none;

  &.add-top {
    right: 15px;
    top: -10px;
  }

  &.add-bottom {
    right: 15px;
    bottom: -10px;
  }

  &:hover svg {
    fill: main.$arc-teal;
  }
}

.move-handle {
  cursor: pointer;
  height: 100%;
  padding: 10px 15px;
  background: rgba(main.$overcast, 0.4);
  color: main.$white;
  &:hover {
    background: rgba(main.$overcast, 0.4);
  }

  svg {
    width: 20px;
    height: 20px;
    stroke: main.$white;
  }
}

.modify-handle {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin-right: 15px;
  &:hover svg {
    stroke: rgba(main.$arc-teal, 0.8);
  }

  svg {
    width: 20px;
    height: 20px;
    stroke: main.$overcast;
  }
}

.arc-email-component-add-container {
  margin-bottom: 30px;
  .arc-email-component-icon {
    border: 1px solid main.$overcast;
    border-radius: main.$border-radius;
    padding: 30px;
    text-align: center;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96px;
    font-size: 25px;
  }

  .arc-email-component-name {
    margin-top: 10px;
    text-align: center;
  }

  &:hover {
    cursor: pointer;
    .arc-email-component-icon {
      border-color: main.$arc-teal;
      color: main.$arc-teal;
    }

    .arc-email-component-name {
      color: main.$arc-teal;
    }
  }
}

.arc-email-tool-container {
  color: main.$white;

  .arc-email-tool-icon {
    padding: 30px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .active {
    background: rgba(main.$white, 0.1);
  }
}

.sortable-item {
  background: main.$fog;
  //border: 1px solid main.$overcast;
  margin-bottom: 2px;
}

.arc-email-tools {
  background: main.$tarmac;
}

.arc-email-tool-items {
  background: rgba(main.$tarmac, 0.9);
}

.ctaBtn--close {
  background: main.$nowboarding;
  border-color: main.$nowboarding;

  &:hover {
    background: rgba(main.$nowboarding, .8);
    border-color: rgba(main.$nowboarding, .8);
  }
}

a.email-btn:hover {
  background-color: #189bb0 !important;
  border-color: #189bb0 !important;
}